.search {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search p {
    color: #9da5d1;
    gap: 0.5rem;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    color: #2b3566;
}

.search_container button {
    background-color: #0e1129;
    cursor: pointer;
    -webkit-box-shadow: 2px 5px 14px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 14px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 5px 14px -2px rgba(0, 0, 0, 0.75);
    transition: all 300ms;
}

.search_container button:hover {
    background-color: #160092;
    box-shadow: none;
}